.App {
  text-align: center;
    min-height: 100vh;
      background-image: url("https://hallmark.brightspotcdn.com/dims4/default/f0512ea/2147483647/strip/true/crop/2500x1667+0+0/resize/1920x1280!/quality/90/?url=http%3A%2F%2Fhallmark-channel-brightspot.s3.amazonaws.com%2Fb4%2F78%2F391aef8880dba823fd6aed0a362d%2Fhome-family-diy-picnic-basket.jpg");
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
